body{
    background-color: #E2E8F0;
    margin: 0;
    padding: 0;
}

.page-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 240px 1fr;
}

.sidebar{
    grid-column: 1/2;
    background-color: #1992D4;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.sidebar-icons{
    width: 25px;
    height: 25px;
}
.sidebar-title{
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
    vertical-align: middle;
    img{
        margin-right: 10px;
    }
}

.sidebar-menu{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 6 1fr;
    vertical-align: middle;
    ul{
        list-style-type: none;
    }
}

.sidebar-menu ul li, .sidebar-options ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    vertical-align: middle;
    a{
        
        text-decoration: none;
        font-size: 20px;
        color: whitesmoke;
    }
    a img{
        vertical-align: text-bottom;
        margin-right: 3px;
    }
}

.sidebar-options{
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 3 1fr;
    vertical-align: text-bottom;
    ul{
        list-style-type: none;
    }
}







/* To remove the ul list dot add list-style:none */
/* 

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: stretch;
    align-self: start;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "input user"
        "profile navButtons";
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}

.main-page{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.search{
    grid-area: input;
    input{
        font-size: 25px;
        padding: 5px;
        width: 550px;
        height: 20px;
        border-radius: 40px;
        margin-top: 20px;
        margin-left: 10px;
    }
    #search-icon{
        margin-left: 30px;
    }
}

.user{
    grid-area: user;
}

.profile{
    grid-area: profile;
}

.navButtons{
    grid-area: navButtons;
    button{
        margin: 5px;
        background-color: #1992D4;
        border-radius: 20px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        width: 100px;
        line-height: 20px;
    }
}

.mypfp{
    width: 10%;
    border: 1px solid black;
    border-radius: 50%;
} */